@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter';
  line-height: 100%;
  letter-spacing: 0px;
}